@{
    ViewBag.Title = "Index";
}

<h2>Admin Dashboad</h2>

<li>@Html.ActionLink("Manage", "Manage", "Account")</li>
<li>@Html.ActionLink("Register", "Register", "Account")</li>
<li>@Html.ActionLink("Roles", "RoleIndex", "Account")</li>
<li>@Html.ActionLink("Create Role", "RoleCreate", "Account")</li>
<li>@Html.ActionLink("Add Role To User", "RoleAddToUser", "Account")</li>
